<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="st.dao.HDMapper">
  <resultMap id="BaseResultMap" type="st.bean.HD">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hdName" jdbcType="VARCHAR" property="hdname" />
    <result column="hdday" jdbcType="VARCHAR" property="hdday" />
    <result column="hdplace" jdbcType="VARCHAR" property="hdplace" />
    <result column="hddanwei" jdbcType="INTEGER" property="hddanwei" />
    <result column="hdneirong" jdbcType="VARCHAR" property="hdneirong" />
  </resultMap>
  
  <resultMap type="st.bean.HD" id="WithSTResultMap">
     <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hdName" jdbcType="VARCHAR" property="hdname" />
    <result column="hdday" jdbcType="VARCHAR" property="hdday" />
    <result column="hdplace" jdbcType="VARCHAR" property="hdplace" />
    <result column="hddanwei" jdbcType="INTEGER" property="hddanwei" />
    <result column="hdneirong" jdbcType="VARCHAR" property="hdneirong" />
  
	<association property="st" javaType="st.bean.ST">
 	<id column="stNo" property="stno"/>
 	<result column="stName" property="stname"/>
 	</association>
 	
  </resultMap>
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hdName, hdday, hdplace, hddanwei, hdneirong
  </sql>
  
   <sql id="WithST_Column_List">
    id, hdName, hdday, hdplace, hddanwei, hdneirong,stNo,stName
  </sql>
  
  
  <select id="selectByExample" parameterType="st.bean.HDExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huodong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from huodong
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByExampleWithST" resultMap="WithSTResultMap">
  
   select
    <if test="distinct">
      distinct
    </if>
    <include refid="WithST_Column_List" />
    from huodong left join shetuan on huodong.hddanwei = shetuan.stNo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKeyWithST" resultMap="WithSTResultMap">
     select 
    <include refid="WithST_Column_List" />
    from huodong left join shetuan on huodong.hddanwei = shetuan.stNo
    where id = #{id,jdbcType=INTEGER}
  
  </select>
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from huodong
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="st.bean.HDExample">
    delete from huodong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="st.bean.HD">
    insert into huodong (id, hdName, hdday, 
      hdplace, hddanwei, hdneirong
      )
    values (#{id,jdbcType=INTEGER}, #{hdname,jdbcType=VARCHAR}, #{hdday,jdbcType=VARCHAR}, 
      #{hdplace,jdbcType=VARCHAR}, #{hddanwei,jdbcType=INTEGER}, #{hdneirong,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="st.bean.HD">
    insert into huodong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hdname != null">
        hdName,
      </if>
      <if test="hdday != null">
        hdday,
      </if>
      <if test="hdplace != null">
        hdplace,
      </if>
      <if test="hddanwei != null">
        hddanwei,
      </if>
      <if test="hdneirong != null">
        hdneirong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hdname != null">
        #{hdname,jdbcType=VARCHAR},
      </if>
      <if test="hdday != null">
        #{hdday,jdbcType=VARCHAR},
      </if>
      <if test="hdplace != null">
        #{hdplace,jdbcType=VARCHAR},
      </if>
      <if test="hddanwei != null">
        #{hddanwei,jdbcType=INTEGER},
      </if>
      <if test="hdneirong != null">
        #{hdneirong,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="st.bean.HDExample" resultType="java.lang.Long">
    select count(*) from huodong
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update huodong
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hdname != null">
        hdName = #{record.hdname,jdbcType=VARCHAR},
      </if>
      <if test="record.hdday != null">
        hdday = #{record.hdday,jdbcType=VARCHAR},
      </if>
      <if test="record.hdplace != null">
        hdplace = #{record.hdplace,jdbcType=VARCHAR},
      </if>
      <if test="record.hddanwei != null">
        hddanwei = #{record.hddanwei,jdbcType=INTEGER},
      </if>
      <if test="record.hdneirong != null">
        hdneirong = #{record.hdneirong,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update huodong
    set id = #{record.id,jdbcType=INTEGER},
      hdName = #{record.hdname,jdbcType=VARCHAR},
      hdday = #{record.hdday,jdbcType=VARCHAR},
      hdplace = #{record.hdplace,jdbcType=VARCHAR},
      hddanwei = #{record.hddanwei,jdbcType=INTEGER},
      hdneirong = #{record.hdneirong,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="st.bean.HD">
    update huodong
    <set>
      <if test="hdname != null">
        hdName = #{hdname,jdbcType=VARCHAR},
      </if>
      <if test="hdday != null">
        hdday = #{hdday,jdbcType=VARCHAR},
      </if>
      <if test="hdplace != null">
        hdplace = #{hdplace,jdbcType=VARCHAR},
      </if>
      <if test="hddanwei != null">
        hddanwei = #{hddanwei,jdbcType=INTEGER},
      </if>
      <if test="hdneirong != null">
        hdneirong = #{hdneirong,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="st.bean.HD">
    update huodong
    set hdName = #{hdname,jdbcType=VARCHAR},
      hdday = #{hdday,jdbcType=VARCHAR},
      hdplace = #{hdplace,jdbcType=VARCHAR},
      hddanwei = #{hddanwei,jdbcType=INTEGER},
      hdneirong = #{hdneirong,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>